<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553051060304-o78qm7lns8depp4hor7muat8huh81itv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553051060304-o78qm7lns8depp4hor7muat8huh81itv</string>
	<key>API_KEY</key>
	<string>AIzaSyBVdGNumGcqfcbMtbdUPDZ96LRXzPQ3_Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>553051060304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haithemmtar.clothy</string>
	<key>PROJECT_ID</key>
	<string>clothy-4dfd2</string>
	<key>STORAGE_BUCKET</key>
	<string>clothy-4dfd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553051060304:ios:570105a7a4dd78e8ff3955</string>
</dict>
</plist>